:root{
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: white;
  }
  
  /* Header */
  #header {
  height: 125px;
  }

  
  .list-inline {
    text-align: right;
    margin-right: 50px;
  }
  
  .nav-item {
    margin-right: 50px;
    color: white;
  }
  
  .name-header {
    margin-left: 50px;
    font-size: 35px;
    font-weight: 300;
  }
  
  .header-text {
    height: 85px;
  }

  #home-picture{
    width: 100%;
  }
  
  /* Home */
  #home {
    background-color: black;
  }
  
  .home-header-text {
    color: white;
    font-size: 70px;
    font-weight: 300;
    margin-left: 50px;
  }
  
  #home-header {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 200px;
  }
  
  .home-quote-text {
    color: white;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .twici {
    margin-top: 50px;
  }
  
  .home-about-link {
    margin-top: 50px;
    margin-bottom: 150px;
  }
  
  .about-me-text {
    color: black;
  }
  
  .custom-button {
    background-color: #5CB080;
  }
  
  .custom-button:hover {
    background-color: #5CB080;
    color: black;
  }
  
  #home-projects {
    background-color: white;
  }
  
  .home-projects-quote {
    margin-top: 50px;
    color: black;
    padding-left: 400px;
    padding-right: 400px;
  }
  
  .fsd {
    font-size: 40px;
    text-align: center;
  }
  
  .projects-link {
    background-color: white;
    width: 100%;
  }
  
  .project-about-link {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .featured-projects-section {
    margin-top: 50px;
    color: white;
  }
  
  #featured-project {
    font-size: 40px;
  }
    /* Footer */

    .no-gutters {
      --bs-gutter-x: 0; /* Remove horizontal gutter spacing */
    }
    
    .list-unstyled {
        list-style: none; /* Remove list points */
        background-color: black;
      }
      
      #footer {
        background-color: black;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .link-list{
        padding-top: 50px;
      }
      .list-unstyled li {
        margin-left: 50px;
        margin-bottom: 18px; /* Adjust the value to set the desired space */
        font-size: 40px;
        font-weight: 100;
      }
      #footer-title{
        font-size: 50px;
        margin-bottom: 50px;
      }
      .list-unstyled li a {
        text-decoration: underline;
      }
      /* About */
      .about-me-heading{
        font-size: 40px;
        font-weight: 300;
        width: 1200px;
        color: white;
        background-color: black;
      }
      #about-me-bio{
        background-color: black;
        padding-top: 50px;
        padding-bottom: 100px;
      }
      #about-me-p{
        font-size: 20px;

      }
      #about-me-h2{
        font-size: 60px;
        font-weight: 500;
        padding-bottom: 25px;
      }
      #bio{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 75px;
        padding-bottom: 75px;
      }
      #wedding-img{
        height: 500px;
      }
      .page{
        background-color: #D4EDF4;
        padding-bottom: 100px;
        
      }
      #bio-section{
        margin-top: 100px;
      }

      /* Projects */
      #fphc{
        background-color: black;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      #featured-project{
        font-size: 70px;
        font-weight: 500;
        color: white;
      }
      #project-cards{
        background-color: #D4EDF4;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      #ET-card{
        padding: 50px;
      }

      /* qualifications */
  

      .btn-black{
        color: white;
        width: 100%;
        text-align: left;
        border-top: 1px solid white;
        font-size: 30px;
        font-weight: 200;
      }
      .btn-black:hover {
        color: white; /* Ensure the text color remains unchanged on hover */
        background-color: transparent; /* Set the background color to transparent on hover */
        border-top: 1px solid white;
      }
      .q-page{
        background-color: black;
        width: 100%;
      }
      #q-header{
        color: white;
        background-color: black;
        font-size: 60px;
        padding-left: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
      }
      .collapse-content{
        background-color: black;
        color: white;
      }
      .btn-black:focus,
.btn-black:active {
  outline: none; /* Remove the outline */
  box-shadow: none; /* Remove the box shadow */
}
.resume-btn{
  padding-top: 100px;
  padding-bottom: 200px;
}

.certifications-list li {
  font-size: 30px;
  font-weight: 200;
}

    /* Contact */

    #contact{
      background-color: #D4EDF4;
    }
    .contact-btn{
      margin-top: 50px;
    }
    .contact-header{
      font-size: 60px;
      font-weight: 500;
      padding-bottom: 50px;
    }