a{
    text-decoration: none; /* Remove underline from links */
}

/* Header */
\#header{

}

.list-inline{
    text-align: right;
    margin-right: 50px;
    
}

.list-inline-item:not(:last-child) {
    margin-right: 50px;
}

.name-header{
    margin-left: 50px;
}

