a{
    text-decoration: none; /* Remove underline from links */
    color: white;
    
}

/* Header */
\#header{

}

.list-inline{
    text-align: right;
    margin-right: 50px;
    
}

.nav-item{
    margin-right: 50px;
    color: white;

}

.name-header{
    margin-left: 50px;
    font-size: 35px;
    font-weight: 300;
    
}

.header-text{
    height: 85px;
}

/* Home */

#home{
    background-color: black;

}

.home-header-text{
    color: white;
    font-size: 70px;
    font-weight:300;
    margin-left: 50px;
}

#home-header{
    margin: 0;
    padding-top: 100px;
    padding-bottom: 200px;
}
.home-quote-text{
    color: white;
    margin-left: 50px;
    margin-top: 50px;
}
.twici{
    margin-top: 50px;
}

.home-about-link{
    margin-left: 60px;
    margin-top: 50px;

}
.about-me-text{
    color: black;
}

.custom-button{
    background-color: #5CB080;
}

.custom-button:hover {
    pointer-events: none;
  }